{% extends "layout.html" %}
{% block content %}

<form action="#" class="submission-form mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Submit Application</h2>
    </div>
    <div class="mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="name" name="name" pattern="^[a-zA-Z0-9 \.]{3,255}$">
                <label class="mdl-textfield__label" for="name">Project Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" rows="5" id="description" name="description"></textarea>
                <label class="mdl-textfield__label" for="description">Description</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="author" name="author" pattern="^[a-zA-Z0-9 \.]{3,255}$">
                <label class="mdl-textfield__label" for="author">Author</label>
            </div>
            <label for="icon" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--file">
                <input class="mdl-textfield__input" type="text" id="iconLabel"/>
                <div class="mdl-textfield__label">Icon</div>
                <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                    <i class="material-icons">attach_file</i><input type="file" id="icon">
                </div>
            </label>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="github" name="github" pattern="https?://.+">
                <label class="mdl-textfield__label" for="github">Github URL</label>
            </div>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="rules-check">
                <input type="checkbox" id="rules-check" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">I have read and accept the <a href="#">Rules & Guidelines</a>.</span>
            </label>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Submit
        </a>
    </div>
</form>



{% endblock %}