{% extends "layout.html" %}
{% block content %}

<div class="submission-form mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Credits</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <p>This is a community-maintained database of some of the most common and useful apps and tools for a hacked Nintendo 3DS family system.</p>
        <p>This site is made and maintained by DeadPhoenix.</p>

        <p>Special Thanks for the following people:</p>
        <ul>
            <li><b>eip</b>: For supplying the list of initial homebrew apps, moderating new submissions and providing me general support with the english language.</li>
            <li><b>Everyone in the Nintendo Homebrew Discord <sub>(sh group in particular)</sub></b>: For testing, general support in case of questions and overall awesomeness. </li>
        </ul>

        <sub>Credits are in no particular order, if I missed someone please DM me on discord (Tag: deadphoenix#8091). I did not do it intentionally!</sub>
    </div>
</div>



{% endblock %}