{% extends "layout.html" %}
{% block content %}

<div class="submission-form mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Welcome to TinyDB</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <p>This is a community-maintained database of some of the most common and useful apps and tools for a hacked Nintendo 3DS family system. Trusted applications are automatically scanned for new releases every hour. If you have any questions or feature requests please open an issue on our <a href="https://github.com/deadphoenix8091/tinydb" target="_blank">Github Repository</a>.</p>
		<p>TinyDB's maintainers hang out at Nintendo Homebrew, which is a great place to ask questions about TinyDB or Nintendo hacking. Stop by and say hi! <a href="https://discord.gg/C29hYvh">Nintendo Homebrew Discord</a></p>
		<p>Disclaimer: Every effort has been made to ensure the currency, legitimacy and safety of the applications offered here, however the maintainers can take no responsibility for a) content included by the original developers of the applications or b) the actions of users who download software via TinyDB. TinyDB is an intermediary service and is not supported or officially endorsed by the original developers of the applications, nor does TinyDB support or endorse those developers.</p>
	</div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/submit">
            Submit Application
        </a>
    </div>
</div>


{% include 'partials/applications.html' %}

{% endblock %}
