{% extends "layout.html" %}
{% block content %}

<div class="submission-form mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Rules & Guidelines</h2>
    </div>
    <div class="mdl-card__supporting-text">
        This is a community-maintained database of some of the most common and useful apps and tools for a hacked Nintendo 3DS family system.
        If you have a suggestion for an application that should exist here, you can submit it as per the following guidelines:
        <ol>
            <li>The project must be released and maintained publicly on Github, with source code visible. This is for two reasons: first, trust and transparency, second, Github releases are easier to link to with this system.</li>
            <li>The project must not include any copyrighted or rights-reserved content for which the project does not have an appropriate license.</li>
            <li>The project's license must not restrict TinyDB from linking to it with author attribution.</li>
            <li>The project must not include malicious code, including but not limited to the unauthorised collection of user data, code which intentionally damages or restricts device functionality, etc</li>
        </ol>
        By submitting an application for release via TinyDB, you confirm the following:
        <ol>
            <li>You are the project owner, a developer or maintainer for the project, or an authorised representative</li>
            <li>You have read these guidelines</li>
            <li>You, in good faith, believe the project does not violate these guidelines</li>
        </ol>
        Applications will be reviewed before submission is approved. Submitting an application does not guarantee its acceptance.
    </div>
</div>



{% endblock %}